body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    height: 100svh;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%2300594c' fill-opacity='0.33'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-color: rgba(123, 175, 212, 1);
} 

.big-font{
    font-size: 2rem;
}

#listContainer{
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 550px;
    align-items: center; /* Centers content horizontally */
    background-color: #F8F8F8;
    border-radius: 50px;
    /* left-right / up-down / blur-radius */
    box-shadow: 5px 8px 20px rgba(35, 35, 35, 0.54);
    background-color: #f8f8f8;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%239C92AC' fill-opacity='0.11' fill-rule='evenodd'/%3E%3C/svg%3E");
}

#ToDoList {
    height: 19rem;
    width: 30rem;
    font-size: 1.5rem;
    overflow: auto; 
    margin-top: 1rem;
}

::-webkit-scrollbar{
    width: 0.75rem;
    height: 0.75rem;
}

::-webkit-scrollbar-track{
    background-color: #7BAFD4;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb{
    background-color: #4F758B;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #406073;
    cursor: pointer;
}

li:first-child {
    margin-top: 0; /* Ensures the first `li` doesn’t have a margin pushing it */
}

#header{
    color: #00A5AD;
    font-family: spicy rice, sans-serif;
    font-size: 2.5rem;
    font-weight: lighter;
    margin-bottom: 0;
    padding-bottom: 0;
}

#inputBar{
    display: flex;
}

#inputBar{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

button{
    border: none;
    cursor: pointer;
    font-family: 'spicy rice', sans-serif;
    font-weight: lighter;
    border-radius: 100vw;
}

#reset{
    background-color: #EF426F;
    color: white;
    font-size: 1.9rem;
    width: 8rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.changeContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}

.change{
    background-color: #5c42ef;
    color: white;
    font-size: 1.9rem;
    width: 8rem;
    height: 2.5rem;
}

#enter{
    background-color: #FFD100;
    color: white;
    width: 7rem;
    height: 3rem;
    font-size: 2rem;
}

#addToDo{
    width: 70%;
    border-radius: 100vw;
    border: none;
    background-color: #D9D9D9;
    color: white;
    font-family: 'spicy rice', sans-serif;
    font-size: 2rem;
    outline: none;
    padding-left: 0.5rem;
}

.removeBut{
    color: #7BAFD4;
    color: #151515;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    margin-left: 10px;
}

.removeBut:hover {
    background-color: #EF426F;
    cursor: pointer;
    color: #F8F8F8;
    border-radius: 100vw;
    /* left-right / up-down / blur-radius */
    box-shadow: 3px 5px 10px rgba(0,0,0,0.5);
}

li{
    display: flex; 
    justify-content: space-between;
    font-family: spicy rice, sans-serif;
    color: #7BAFD4;
    list-style-type: square;
    cursor: pointer;
    border-bottom: 2px solid #1515157e;
    min-height: 70px;
    align-items: center;
    margin-right: 15px;
}

.done{
    cursor: pointer;
    text-decoration: line-through;
    opacity: 0.3;
    color: #EC1C25; 
}

#ToDoList{
    background-color: #f8f8f892;
    border-radius: 1rem;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.050);
}

.functions{
    display: flex;
    justify-content: space-evenly;
    width: 120px;
}

.editBut{
    display: flex;
    padding: 0px 7px 0px 7px;
}

.editBut:hover{
    border-radius: 1vw;
    background-color: #5c42ef;
}